# Exclude common files and directories
.git/
.gitignore
.env
.env.*
*.exe
*.test
*.out
README.md
tmp/
vendor/

# Don't exclude these files and directories
!go.mod
!go.sum
!cmd/
!internal/
!pkg/
!config.production.yaml
